In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('General.csv')
df1.head()

,Crop,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982
0,"Asparagus, all",1.33,1.28,1.27,1.29,1.1,1.2,1.22,0.99,0.85,0.74,0.79,0.8,0.72
1,"Asparagus, fresh",0.44,0.38,0.4,0.4,0.39,0.41,0.43,0.34,0.29,0.25,0.29,0.31,0.38
2,"Asparagus, canning",0.59,0.63,0.61,0.64,0.53,0.58,0.53,0.45,0.38,0.32,0.36,0.38,0.28
3,"Asparagus, freezing",0.29,0.27,0.25,0.25,0.18,0.21,0.26,0.21,0.18,0.17,0.13,0.11,0.06
4,"Snap /Green beans, all",7.61,7.46,7.49,8.01,7.7,7.03,7.83,7.52,7.48,7.45,7.23,7.56,6.99

In [3]:
df1.columns

Index(['Crop', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982'],
      dtype='object')

In [4]:
df1.set_index('Crop')

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982
Crop,,,,,,,,,,,,,
"Asparagus, all",1.33,1.28,1.27,1.29,1.1,1.2,1.22,0.99,0.85,0.74,0.79,0.8,0.72
"Asparagus, fresh",0.44,0.38,0.4,0.4,0.39,0.41,0.43,0.34,0.29,0.25,0.29,0.31,0.38
"Asparagus, canning",0.59,0.63,0.61,0.64,0.53,0.58,0.53,0.45,0.38,0.32,0.36,0.38,0.28
"Asparagus, freezing",0.29,0.27,0.25,0.25,0.18,0.21,0.26,0.21,0.18,0.17,0.13,0.11,0.06
"Snap /Green beans, all",7.61,7.46,7.49,8.01,7.7,7.03,7.83,7.52,7.48,7.45,7.23,7.56,6.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Mushrooms,1.1,1.27,1.46,1.62,1.7,1.81,1.89,2.14,2.48,2.69,2.87,2.73,2.91
Dry peas and lentils9,0.71,0.66,0.79,0.55,0.69,0.38,0.57,0.33,0.61,0.5,0.5,0.52,0.34
Dry beans10,6.24,6.76,5.77,7.44,5.48,6.8,6.27,6.67,5.06,6.24,5.4,5.42,7.35
Total w/o melons,334.89,337.89,336.74,334.39,332.41,336.88,348.04,343.86,333.64,339.32,337.97,333.78,335.75
Total w/ melons,356.39,358.58,356.92,354.19,349.99,354.49,366.8,363.21,353.78,358.55,355.96,353.19,358.03